/* Заголовок теста */
p.GCTestCaption {
	font-weight: bold;
	font-family: arial;
	font-size: 18pt;
}
/* Номер вопроса */
p.GCTestQNumber {
	font-weight: regular;
	font-family: arial;
	font-size: 8pt;
	color: gray;
}
/* Сам вопрос */
pre.GCTestQuestion {
	font-size: 12pt;
	font-family: Arial;
}
/* Варианты ответов */
p.GCTestAnswer {
	font-weight: regular;
	font-family: arial;
	font-size: 10pt;
	margin: 2px;
}
/* Кнопка далее */
input.GCTestButton {
	margin: 20px 0 0 0;
}
/* Результаты теста */
p.GCTestResult {
	font-weight: regular;
	font-family: arial;
	font-size: 11pt;
	color: maroon;
	margin: -10px 0 0 0;
}